body {
    text-align: center;
    color: rgb(7, 7, 7);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#container {
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid #3f3d3d;
}

